<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="RegressionSuite" verbose="1">
	<test name="SpeakLangTests">
		<classes>
			<!--  <class name="com.testng.demo.SeleniumFindElementsDemo" /> -->
			<class name="com.app.tests.TestNGAnotationSDemo" />
		</classes>
	</test>
</suite>
